# sql_exporter ana konfigürasyonu
global:
  scrape_timeout: 10s
  scrape_timeout_offset: 500ms
  min_interval: 0s
  max_connections: 3
  max_idle_connections: 3

# Hedef veritabanı tanımı
target:
  data_source_name: 'sqlserver://sa:${MSSQL_SA_PASSWORD}@db:1433?database=stok_takip_db&encrypt=disable'
  collectors: [mssql_standard]

collector_files:
  - "mssql_standard.collector.yml"
